<div class="exercise-card flex-row">
	<img src="https://via.placeholder.com/150" />
	<div class="exercise-card-title">
		<h2>Title</h2>
		<div>Sets and Reps</div>
	</div>
	<div class="exercise-delete">
		<button class="exercise-delete-btn" style="font-size:24px">
			<i class="fa fa-trash-o">&#xf014;</i>
		</button>
	</div>
</div>