<section class="routine-card">
	<div class="routine-section">
		<div class="routine-title">
			<h5>Routine Name 1</h5>
			<h6>Date</h6>
		</div>
		<div class="routine-info">
			<div class="routine-info-card">
				<div class="routine-info-card-content">
					<h4>60mins</h4>
				</div>
				<div class="routine-info-card-title">
					<p>Length</p>
				</div>
			</div>
			<div class="routine-info-card">
				<div class="routine-info-card-content">
					<h4>750kcal</h4>
				</div>
				<div class="routine-info-card-title">
					<p>Est. Calories</p>
				</div>
			</div>
			<div class="routine-info-card">
				<div class="routine-info-card-content">
					<h4>6</h4>
				</div>
				<div class="routine-info-card-title">
					<p>Exercises</p>
				</div>
			</div>
		</div>
	</div>
	<div class="target-section">
		<div class="target-title">
			<h5>Targets</h5>
		</div>
		<div class="target-info">
			<div>Arms</div>
			<div>Legs</div>
			<div>Chest</div>
		</div>
	</div>
</section>