<section class="home-btn-container">
  <div class="login-signup-container">
    <button class="login-btn" id="login-btn" role="button">Login</button>
  </div>
  <div class="login-signup-container">
    <button class="signup-btn" id="signup-btn" role="button">Signup</button>
  </div>
</sections>