<div class="quote-card">
	<h6>Quote of the day</h6>
	<p style="font-style: italic;">"Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Numquam laudantium corporis expedita unde excepturi in
		aliquam consequuntur aut optio voluptate fugiat rerum, ipsa accusamus
		debitis incidunt? Magnam accusantium facilis doloribus?"</p>
</div>