<div class="card m-2">
  <h5 class="card-header">Routine Title</h5>
  <div class="card-body">
    <h5 class="card-title">Created by:
      {{user.first_name}}
      {{user.last_name}}
    </h5>
    <p class="card-text">Created at: {{createdAt}}</p>
    <button class="btn btn-primary" id="routine-btn" data-id={{id}}>Check more
      details</button>
  </div>
</div>