<div class="weather-card">
	<div class="weather-title">
		<div class="location">
			<h6>Weather</h6>
			<h5>Birmingham</h5>
		</div>
		<div class="weather-status">
			<p style="font-size:x-large;" class="unset-margin">&#9925;</p>
		</div>
	</div>
	<div class="weather-info">
		<div class="weather-condition">
			<p>&#127777;</p>
			<p>30c</p>
			<p>Temp</p>
		</div>
		<div class="weather-condition">
			<p>&#9748;</p>
			<p>3cm</p>
			<p>Rain</p>
		</div>
		<div class="weather-condition">
			<p>&#9925;</p>
			<p>10mph</p>
			<p class="unset-margin">Wind</p>
		</div>
	</div>
</div>