<header>{{> privateNavBar}}</header>

<main>
    <section class="content-wrapper">
        <section class="create-routine-form">
            <form class="create-form">
                <div class="flex-row space-between">
                    <label>Routine Name:</label>
                    <input placeholder="Title" />
                </div>
                <div class="flex-row space-between">
                    <label>Date:</label>
                    <input placeholder="" />
                </div>
                <section class="flex-row space-around">
                    <div>
                        <label>Time Start:</label>
                        <input placeholder="" />
                    </div>
                    <div>
                        <label>Time End:</label>
                        <input placeholder="" />
                    </div>
                </section>
                <div class="add-exercise-title">
                    <h1>Add exercises</h1>
                </div>
                <section class="add-exercise-content">

                </section>
                <section class="add-routine-button">
                    <button class="create-routine-button">Add Routine to Dashboard</button>
                </section>
            </form>
        </section>
    </section>
    
</main>