<header>{{> privateNavBar}}</header>

<main>
    <section class="content-wrapper">
        <section class="create-routine-form">
            <form id="create-form" class="create-form">
                <div class="flex-row">
                    <label for="routine-name">Routine Name:</label>
                    <input id="routine-name" type="text" placeholder="Title" />
                </div>
                <div class="flex-row">
                    <label>Date:</label>
                    <input type="date" id="routine-date"  />
                </div>
                <section class="routine-time flex-row space-around">
                    <div class="flex-row">
                        <label>Time Start:</label>
                        <input id="routine-start" type="time" />
                    </div>
                    <div class="flex-row">
                        <label>Time End:</label>
                        <input id="routine-end" type="time"/>
                    </div>
                </section>
                <section class="add-routine-button">
                    <button id="create-routine-button" type="submit" class="create-routine-button">Add Routine to Dashboard</button>
                </section>
            </form>
        </section>
    </section>
    
</main>