<header>{{> privateNavBar}}</header>

<main>
    <section class="content-wrapper">
        <section class="create-routine-form">
            <form class="create-form">
                <div class="flex-row space-between">
                    <label>Routine Name:</label>
                    <input placeholder="Title" />
                </div>
                <div class="flex-row space-between">
                    <label>Date:</label>
                    <input placeholder="" />
                </div>
                <div class="flex-row space-around">
                    <div>
                        <label>Time Start:</label>
                        <input placeholder="" />
                    </div>
                    <div>
                        <label>Time End:</label>
                        <input placeholder="" />
                    </div>
                </div>
                <div class="add-exercise">
                    <div class="exercise-card">
                        <img src="https://via.placeholder.com/150" />
                        <div>Title</div>
                        <div>Sets and Reps</div>
                        <div>Delete button</div>
                    </div>
                </div>
            </form>
        </section>
    </section>
    
</main>