<header>{{> privateNavBar}}</header>

<main>
    <section class="dashboard-wrapper">
        <aside class="aside-container">
            {{> profileCard}}
        </aside>
        <section class="main-container">
            <section class="quote-weather-content">
                {{> quoteCard}}
                {{> weatherCard}}
            </section>
            <section>Routine card 1</section>
            <section>Rotinee card 2</section>
        </section>
    </section>
</main>