<header>{{> privateNavBar}}</header>

<main>
    <section class="dashboard-wrapper">
        <aside class="aside-container">
            {{> profileCard}}
        </aside>
        <section class="main-container">
            <section>Content</section>
            <section>Content</section>
            <section>Content</section>
        </section>
    </section>
</main>