<header>{{> privateNavBar}}</header>

<main>
    <section class="dashboard-wrapper">
        <aside class="aside-container">
            {{> profileCard}}
        </aside>
        <section class="main-container">
            <section class="quote-weather-content">
                {{> quoteCard}}
                {{> weatherCard}}
            </section>
            <section class="create-routine">
                    <h4>Add New Routine:</h4>
                    <button id="create-new-routine" class="create-new-button">+</button>
            </section>
            <section class="dashboard-routine-section">
                {{#if allRoutines}}
            {{#each allRoutines}}
            {{> dashboardRoutineCard}}
            {{/each}}
            {{else}}
            <section class="no-routine-card">You currently have no stored routines</section>
            {{/if}}
            </section>
        </section>
    </section>
</main>