<header>{{> navigationBar}}</header>

<main>
    <h1>Exercises Page</h1>

    <div>
        <form>
  <label for="exTarget">Choose a body target:</label>
  <select name="exerciseTarget" id="exTarget">
    <option value="abductors">Abductors</option>
    <option value="abs">Abs</option>
    <option value="adductors">Adductors</option>
    <option value="biceps">Biceps</option>
    <option value="calves">Calves</option>
    <option value="cardiovascular system">Cardiovascular system</option>
    <option value="delts">Delts</option>
    <option value="forearms">Forearms</option>
    <option value="glutes">Glutes</option>
    <option value="hamstring">Hamstrings</option>
    <option value="lats">Lats</option>
    <option value="levator scapulae">Levator scapulae</option>
    <option value="pectorals">Pectorals</option>
    <option value="quads">Quads</option>
    <option value="serratus anterior">Serratus anterior</option>
    <option value="spine">Spine</option>
    <option value="traps">Traps</option>
    <option value="triceps">Triceps</option>
    <option value="upper back">Upper back</option>
  </select>
  <br><br>
  <input type="submit" value="Search" id="exTargetBtn">
</form>
    </div>
</main>