<header>{{> navigationBar}}</header>

<main>
	<section class="content-wrapper">
        <section class="login-form">
            <form class="form" id="login-form">
			    <h2 class="login-header">Login </h2>
			        <section class="login-control">
				        <input id="email-input" type="email" placeholder="Email Address" />
				        <input id="password-input" type="password" placeholder="Password" />
			        </section>
			    <button class="login-button" type="submit">Login</button>
			    <p class="copyright">© 2021–2022</p>
		    </form>
        </section>
	</section>
</main>