<header>
  {{> privateNavBar}}
</header>
<main class="container d-flex flex-wrap justify-content-center">
      <div class="mx-auto my-4">
        <h1 class="text-center">Logout</h1>
        <hr />
        <div class="card logout-card">
          <div class="card-body">
            <p class="card-text mb-5 text-center h4">
              Are you sure you want to Logout?
            </p>
            <div class="btn-container d-flex flex-wrap justify-content-around">
              <button class="btn btn-primary btn-sm yes-logout" id= "yes-logout" type="button">
                Yes
              </button>
              <button class="btn btn-danger btn-sm no-logout" id= "no-logout" type="button">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>