<header>{{#if loggedIn}}
  {{> privateNavBar}}
  {{else}}
  {{> publicNavBar}}
  {{/if}}</header>

<main>
     <div class="routine-container m-3 rounded">
      {{#each allRoutines as |routine|}}
      {{> routineCard}}
      {{/each}}
    </div>
</main>