/* Basic Styles */

body {
  background-color: rgb(242, 242, 242);
}

.content-wrapper {
  margin: 2rem;
}

/* Dashboard Styles */

.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 1rem;
  background-color: lightgray;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 15px rgb(177, 177, 177);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.profile-name {
  text-align: center;
  padding: 1rem 3rem;
}

.profile-padding {
  padding-bottom: 1rem;
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.user-goals {
  gap: 1rem;
  padding: 1rem;
}

.quote-weather-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.quote-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 15px rgb(177, 177, 177);
}

.weather-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  width: 40%;
  background-color: lightgray;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 15px rgb(177, 177, 177);
}

.weather-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-status {
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: lightgreen;
  padding: 1rem;
}

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weather-condition {
  text-align: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.dashboard-routine-card,
.routine-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 0.3rem;
  box-shadow: 7px 7px 10px 2px rgb(201, 201, 201);
  width: 100%;
}

.dashboard-routine-card {
  height: 10rem;
}

.routine-section {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #acacac;
  width: 70%;
}

.dashboard-routine-title {
  padding-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
}

.dashboard-routine-title,
.routine-title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #acacac;
}

.routine-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  margin: 1rem 0;
  padding-right: 1rem;
}

.routine-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 15px rgb(169, 169, 169);
  color: white;
  background-color: rgb(0, 157, 255);
  text-align: center;
}

.target-section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.target-title {
  text-align: center;
  border-bottom: 2px solid #acacac;
}

.target-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.unset-margin {
  margin: unset;
}

.info-h4 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.title-h5,
.targets-h5 {
  font-size: 1.25rem !important;
}

/* Routines Styles */
.routine-card {
  height: 11rem;
}
.btn-routine-title {
  flex-grow: 3;
  padding-bottom: 1rem;
  width: 100%;
  background-color: lightgray;
  border: none;
  font-size: 1.3rem;
  height: 2.5rem;
}

.routine-exercise-card {
  width: 100%;
}

.targets-h5 {
  padding-bottom: 1rem;
}

.btn-routine-title:hover {
  font-weight: bolder;
}

.author-h6 {
  flex-grow: 1;
  width: 100%;
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.routine-date-card {
  padding-top: 1rem;
}

/* Form Styles - Login & Signup */

.login-form,
.signup-form {
  margin: 0 auto;
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem;
  width: 100%;
}

.signup-form input,
.login-form input {
  border: 1px solid #ced4da;
  padding: 0.5rem;
  width: 100%;
}

.login-header,
.signup-header,
.copyright {
  text-align: center;
}

.login-control,
.signup-password-control {
  display: flex;
  flex-direction: column;
}

.signup-name-control {
  display: flex;
  flex-direction: row;
}

.first-name-input {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: unset;
}

.last-name-input {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: unset;
}

.signup-username-control input[type="text"],
.signup-email-control input[type="email"] {
  border-radius: 0.3rem;
  border: unset;
}

.login-control input[type="email"],
.password-input {
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.login-control input[type="password"],
.confirm-password-input {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.signup-age-control {
  display: flex;
  flex-direction: column;
}

.age-select {
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: unset;
  width: 25%;
}

.login-button,
.signup-button {
  cursor: pointer;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: unset;
}

.login-button:hover,
.signup-button:hover {
  transition: all 0.5s ease-out;
  background-color: rgb(0, 211, 211);
}

/* Navigation Bar Styles */

.nav-border-top {
  border-top: 1px solid black;
}

.nav-border-right {
  border-right: unset;
}

@media all and (min-width: 1024px) {
  .routine-info {
    justify-content: space-around;
  }
  .routine-info-card {
    width: 25%;
  }
}

@media all and (min-width: 992px) {
  .nav-border-top {
    border-top: unset;
  }
  .nav-border-right {
    padding-right: 1rem;
    border-right: 1px solid black;
  }
}

@media all and (max-width: 768px) {
  /* Dashboard Styles */
  .dashboard-wrapper {
    flex-direction: column;
  }

  .aside-container {
    margin-bottom: 1rem;
    margin-right: unset;
  }

  .quote-weather-content {
    gap: 1rem;
    padding: unset;
    flex-direction: column;
  }

  .quote-card {
    width: 100%;
  }

  .weather-card {
    width: 100%;
  }

  .profile-card {
    padding: 0 2rem;
  }

  .routine-info {
    justify-content: space-around;
    flex-shrink: 1;
    height: fit-content;
    margin: 0 1rem;
    margin-top: 1rem;
    padding: unset;
    gap: 1rem;
  }
  .routine-info-card {
    width: 6rem;
  }

  /* Form Styles */
  .form {
    padding: unset;
  }
  .signup-form,
  .login-form {
    width: 80%;
  }
  .signup-name-control {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media all and (max-width: 425px) {
  .profile-card {
    padding: unset;
  }
  .profile-name {
    padding: 1rem 0;
  }
  .login-form {
    width: 100%;
  }
  .signup-form {
    width: 100%;
  }
  /* dashboard Styles */
  .dashboard-routine-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .dashboard-routine-card,
  .routine-card {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 20rem;
  }

  .title-h5 {
    padding-bottom: 1rem;
  }

  .routine-section {
    border: none;
    width: 100%;
    height: 8em;
  }

  .target-section {
    border: none;
    width: 100%;
  }

  .target-title {
    border-bottom: none;
  }

  .card-title,
  .target-title {
    border-top: 2px solid #acacac;
  }

  .card-title,
  .target-title {
    margin-top: 1rem;
  }

  .card-title {
    padding-top: 1rem;
  }

  .targets-h5 {
    padding-bottom: 0rem;
    padding-top: 1rem;
  }

  .target-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .routine-info-card {
    padding: 0.5rem;
    width: 7rem;
  }

  .date-h6 {
    text-align: center;
  }

  .btn-routine-title {
    padding-bottom: 1rem;
  }
}
