.container {
  padding: 10px;
}

.avatar-user {
  width: 30px;
  height: 30px;
  background-color: #a8d083;
  border-radius: 3px;
  margin-right: 10px;
}

.avatar-user,
.dropdown {
  display: inline-block;
  vertical-align: top;
}

.dropdown {
  position: relative;
  width: 70%;
}

.dropdown-input {
  display: none;
  width: 50%;
}

.dropdown-items {
  list-style: none;
  border-bottom: 1px solid #999999;
}
.dropdown-items:last-child {
  border-bottom: none;
}

.dropdown-content,
.dropdown-avatar {
  margin: 0;
  padding: 0;
}

.dropdown-content {
  box-shadow: 0 0 0 1px #999 inset;
  width: 164px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: 0 3px 3px 3px;
  transition: max-height 0.5s ease;
  margin-top: -1px;
}

.dropdown-avatar {
  padding-left: 10px;
}

.p10 {
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
}

.label-dropdown {
  padding: 5px 10px;
  border-radius: 3px;
  background-image: linear-gradient(-179deg, #ffffff 0%, #ebebeb 100%);
  border: 1px solid #999999;
  cursor: pointer;
  display: block;
}

.dropdown-input:checked ~ .dropdown-content {
  max-height: 160px;
}

.dropdown-input:checked ~ .label-dropdown {
  border-radius: 3px 3px 0 0;
  background: #dddddd;
  border: 1px solid #999999;
  box-shadow: inset 0px 2px 0px 0px #cccccc;
}

.upload {
  text-decoration: none;
  color: #3e3e3e;
  display: block;
}
.upload:hover {
  background-color: #3a92dc;
  color: white;
}

.avatar-items {
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 2px;
}
.avatar-items:hover {
  border: 2px solid #3a92dc;
}

.dropdown-avatar:after,
.dropdown-avatar:before {
  content: "";
  display: table;
}

.dropdown-avatar:after {
  clear: both;
}

.avatar-img {
  width: 20%;
  height: 20%;
}
